body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  justify-content: space-between;
}

.logo {
  font-size: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

ul li {
  display: inline;
  text-align: right;
  align-items: center;
  text-decoration: underline;
}

.story1 {
  background-image: url(../images/mission-background.jpg);
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  text-align: center;
}

.image1, .image2, .image3 {
  height: 200px;
  width: 300px;
}

footer {
  text-align: left;
  margin-left: 20px;
}
