body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  justify-content: space-between;
}

.logo {
  font-size: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

ul li {
  display: inline;
  text-align: right;
  align-items: center;
  text-decoration: underline;
}
